FIREBASE_API_KEY=replace_with_new_rotated_key
FIREBASE_AUTH_DOMAIN=pak-vets-auth.firebaseapp.com
FIREBASE_PROJECT_ID=pak-vets-auth
FIREBASE_APP_ID=1:723134103138:web:1ff6062dd25a9253235b3b
FIREBASE_MESSAGING_SENDER_ID=723134103138
FIREBASE_STORAGE_BUCKET=pak-vets-auth.firebasestorage.app
GOOGLE_WEB_CLIENT_ID=
GOOGLE_EXPO_CLIENT_ID=
GOOGLE_IOS_CLIENT_ID=
GOOGLE_ANDROID_CLIENT_ID=
